# npm dependencies
node_modules/

# source files, etc
js/
src/
tsconfig.json
*.d.ts
!types.d.ts

# git
.github/

# demo-only files
demo.html
demoApp.ts
rollup-demo.config.js
dist/demoBundle.js
dist/demoBundle.js.map

# editors
.idea/
.vscode/
