# npm dependencies
node_modules/

# source files, etc
js/
src/
tsconfig.json

# git
.github/

# demo-only files
demo.html
demoApp.js
rollup-demo.config.js
dist/demoBundle.js
dist/demoBundle.js.map

# editors
.idea/
.vscode/
